.Container {
  display: flex;
  flex-direction: row; /* Changer pour l'organisation horizontale */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Left, .Right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Assurez-vous que Left et Right prennent toute la hauteur */
}

.Account {
  background-color: #1E1E1E;
  color: white;
  width: 90%; /* Ajustez en fonction de votre besoin d'espacement */
  margin: 0 auto; /* Centrer dans la zone Left */
  padding: 20px;
  margin: 20px auto; 
  box-sizing: border-box; /* Inclut le padding dans la largeur définie */
}

.Infos-Profil {
  background-color: #1E1E1E;
  color: white;
  width: 90%; /* Identique à Account pour l'alignement */
  margin: 20px auto; /* Espace au-dessus et en dessous, centré horizontalement */
  padding: 20px;
  box-sizing: border-box; /* Inclut le padding dans la largeur définie */
}

.Boite {
  display: flex;
  justify-content: space-between; /* Espacement uniforme entre Connexion et Amis */
  width: 90%; /* Ajustez en fonction de votre besoin d'espacement */
  margin: 0 auto; /* Centrer dans la zone Right */
}

.Connexion, .Amis {
  flex-direction: column;
  gap: 10px; /* Espace entre les éléments à l'intérieur de Connexion et Amis */
  width: 48%; /* Ajustez pour l'espacement entre Connexion et Amis */
  background-color: #1E1E1E;
  color: white;
  padding: 20px;
  box-sizing: border-box; /* Inclut le padding dans la largeur définie */
  margin-bottom: 20px; /* Espace au-dessous des boîtes Connexion et Amis */
}

@media (max-width: 768px) {
  .Left, .Right {
    width: 100%;
  }

  .Account, .Infos-Profil, .Boite {
    width: 100%; /* Les éléments prennent la pleine largeur sur petits écrans */
    margin: 20px 0; /* Espace au-dessus et en dessous de chaque élément */
  }

  .Connexion, .Amis {
    width: 100%; /* Sur les petits écrans, ils prennent également la pleine largeur */
  }
}
